<%- include('partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />

<div id="loading"></div>

<div style="width: 95%; margin-left: 2%">
  <form action="/usersprotheus/acessosprocura" method="post">
    <div class="row mt-3" style="width: 100%">
      <div class="col-sm-2">
        <div class="form-floating">
          <input class="form-control" type="text" name="login" />
          <label for="loteInput">Login:</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          <input class="form-control" type="password" name="senha" />
          <label for="loteInput">Senha:</label>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="submit" id="botaoSalva" class="btn btn-success mt-2">
          Consultar
        </button>
      </div>
    </div>
  </form>
</div>

<%if(acessos != ''){%>
    <div class="mb-4" style="width: 95%; margin-left: 2%">
      <div class="row mt-3">
        <div class="col-lg-6">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="procuraBtn0"
              onkeyup="procura(0, 'procuraBtn0')"
            />
            <label for="descricaoInput">Código:</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="procuraBtn1"
              onkeyup="procura(1,'procuraBtn1')"
            />
            <label for="descricaoInput">Nome:</label>
          </div>
        </div>
      </div>
    </div>
      <div class="table-wrapper table-responsive mt-2 mb-3" style="width: 95%; margin-left: 2%">
        <table class="fl-table" id="myTable">
          <thead>
            <tr style="height: 25px">
              <th>Código</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <%acessos.forEach(function(acesso){ %>
            <tr>
              <td><%=acesso.id%></td>
              <td><%=acesso.name%></td>
            </tr>
            <%})%>
          </tbody>

          <tbody></tbody>
        </table>
      </div>
<%}%>

<%if(msgError != false){%>
  <button type="button" class="btn btn-danger mt-2" style="margin-left: 2%">Login ou senha incorretos.</button>
<%}%>

<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/validate.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>

  <%- include('partials/footer') %>
