<%- include('../partials/sidebar') %>

<style>
    iframe{
        width: 100%;
        height: 700px;
        border-radius: 5px;
    }

    .card{
        border-radius: 5px;
        border-color: #363636;
    }

    .apagador{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        width: 15%;
        height: 100%;
        z-index:99;
        background-color: #363636;
    }
</style>

<html>
    <body>
        <main>
            <div class="row mt-2">
              <div class="col">
                <div class="card text-center">
                    <!-- <div class="apagador"> 
                    </div> -->
                    <iframe title="Sample Report Demo" width="1140" height="541.25" src="https://playground.powerbi.com/sampleReportEmbed" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
            </div>
          </main>
    </body>
</html>