<%- include('../../partials/sidebar') %>

<style>
body {
    font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
}
#timeline {
    display: flex;
    background-color: #031625;
}
#timeline:hover .tl-item {
    width: 23.3333%;
}
.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
}
.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
    width: 30% !important;
}
.tl-item:hover:after {
    opacity: 0;
}
.tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
    filter: grayscale(0);
}
.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}
.tl-content h1 {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.14rem;
    font-weight: normal;
}

.tl-content table {
    text-align: left; white-space: nowrap;
}
.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.tl-year p {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.728rem;
    line-height: 0;
}
.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.plast-logo{
  border-radius: 5px;
  margin-top: 5%;
  width: 50%;
}

img{
  width: 70%;
}
</style>


<section id="timeline">
  <div class="">
    <div class="row">
      <div class="col d-flex justify-content-around">
        <img class="plast-logo" src="/images/plastlogo.png" alt="">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col d-flex justify-content-around">
        <h3 style="color: white;">Nossos clientes:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><img src="https://www.plastpack.com.br/wp-content/uploads/2022/07/plastpack-embalagens-plasticas-clientes-danone.png" alt=""></div>
      <div class="col-md-4"><img src="https://www.plastpack.com.br/wp-content/uploads/2022/08/plastpack-embalagens-plasticas-clientes-elege.png" alt=""></div>
      <div class="col-md-4"><img src="https://www.plastpack.com.br/wp-content/uploads/2022/08/plastpack-embalagens-plasticas-clientes-batavo.png" alt=""></div>
    </div>
    <div class="row">
      <div class="col-md-4"><img src="https://www.plastpack.com.br/wp-content/uploads/2022/07/plastpack-embalagens-plasticas-clientes-fini.png" alt=""></div>
      <div class="col-md-4"><img src="https://www.plastpack.com.br/wp-content/uploads/2022/08/plastpack-embalagens-plasticas-clientes-cargil.png" alt=""></div>
      <div class="col-md-4"><img src="https://www.plastpack.com.br/wp-content/uploads/2022/08/plastpack-embalagens-plasticas-clientes-hersheys.png" alt=""></div>
    </div>
  </div>
 
   <div class="tl-item">
     
     <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>
     
     <div class="tl-year">
       <p class="f2 heading--sanSerif">MISSÃO</p>
     </div>
 
     <div class="tl-content">
       <h1>NOSSA MISSÃO CONSISTE EM:</h1>
       <p>MISSAO</p>
     </div>
 
   </div>
 
   <div class="tl-item">
     
     <div class="tl-bg" style="background-image: url(https://placeimg.com/802/802/nature)"></div>
     
     <div class="tl-year">
       <p class="f2 heading--sanSerif">VISÃO</p>
     </div>
 
     <div class="tl-content">
       <h1 class="f3 text--accent ttu">NOSSA VISÃO É:</h1>
       <p>"&VISAO&"</p>
     </div>
 
   </div>
 
   <div class="tl-item">
     
     <div class="tl-bg" style="background-image: url(https://placeimg.com/803/803/nature)"></div>
     
     <div class="tl-year">
       <p class="f2 heading--sanSerif">VALORES</p>
     </div>
 
     <div class="tl-content">
       <h1 class="f3 text--accent ttu">NOSSOS VALORES CONSISTE EM:</h1>
       <p> 
        <table >
          <tr>  
            <td>1 – Comprometimento</td>
            <td>6 – Respeito</td>   </tr>
          <tr>
            <td>2 – Satisfação do cliente</td>
            <td>7 – Transparência</td>
          </tr>
          <tr>
            <td>3 – Inovação</td>
            <td>8 – Estabilidade</td>
          </tr>
          <tr> 
            <td>4 – Qualidade</td>
            <td>9 – Segurança de Alimentos</td>
          </tr>
          <tr>
            <td>5 – Ética </td>
            <td>10 – Sustentabilidade</td>
          </tr>
        </table>
      </p>
     </div>
   </div>
 </section>