#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 10%;
  background-image: url("https://i.pinimg.com/originals/49/23/29/492329d446c422b0483677d0318ab4fa.gif");
  background-repeat: no-repeat;
  background-position: center;
}
