<%- include('../partials/header') %>
<div class="row" style="margin-top: 10%; width: 98%;">
    <div class="col d-flex justify-content-center">
        <img style="width: 70%;" src="https://www.fibracem.com/wp-content/uploads/2020/11/LOGO-FIBRACEM-5.png">
    </div>
    <div class="col d-flex justify-content-center">
        <img style="width: 50%" src="https://logodownload.org/wp-content/uploads/2019/12/totvs-logo.png">
    </div>
</div>
<%- include('../partials/footer') %>