<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<link rel="stylesheet" href="/css/contador.css" />
<style>
  body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
  }
</style>


<form action="/informations/newbranch" method="POST">
  <div class="row mt-2" id='rowMestra' style="width: 99%; margin-left: 1%;">
    <div class="row" id='rowTerceira'>
      <div class="col-lg">
        <div class="form-floating">
            <input type="text" class="form-control" id="name" name="name" <%if(languages == "English"){%> placeholder="Name:" <%}else{%> placeholder="Nome:" <%}%>>
            <label for="name">
              <%if(languages == "English"){%>
                Name:
              <%}else{%>
                Nome:
              <%}%>
            </label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg">
          <div class="form-floating">
              <input type="text" class="form-control" id="address" name="address" <%if(languages == "English"){%> placeholder="Address:" <%}else{%> placeholder="Endereço:" <%}%>>
              <label for="address">
                <%if(languages == "English"){%>
                  Adress:
                <%}else{%>
                  Endereço:
                <%}%>
              </label>
          </div>
        </div>
        <div class="col-lg">
            <div class="form-floating">
                <select class="form-select" id="country" aria-label="Floating label" name="country">
                    <%countries.forEach((country)=>{%>
                        <option><%=country%></option>
                    <%})%>
                </select>
                <label for="country">
                  <%if(languages == "English"){%>
                    Country:
                  <%}else{%>
                    País:
                  <%}%>
                </label>
            </div>
        </div>
        <div class="col-lg">
            <div class="form-floating">
                <input name="city" type="text" class="form-control" id="city" <%if(languages == "English"){%>placeholder="City:"<%}else{%>placeholder="Cidade:"<%}%>>
                <label for="city">
                  <%if(languages == "English"){%>
                    City:
                  <%}else{%>
                    Cidade:
                  <%}%>
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg">
        <div class="form-floating">
          <input type="number" class="form-control" id="zipcode" <%if(languages == "English"){%>placeholder="Zip Code:"<%}else{%>placeholder="CEP:"<%}%> name="zipcode">
          <label for="zipcode">
            <%if(languages == "English"){%>
              Zip Code:
            <%}else{%>
              CEP:
            <%}%>
          </label>
      </div>
    </div>
      <div class="col-lg">
        <div class="form-floating">
            <select class="form-select" id="active" aria-label="Floating label" name="active">
              <%if(languages == "English"){%>
                <option value="True">Yes</option>
                <option value="False">No</option>
              <%}else{%>
                <option value="True">Sim</option>
                <option value="False">Não</option>
              <%}%>
            </select>
            <label for="active">
              <%if(languages == "English"){%>
                Is active:
              <%}else{%>
                Está ativa:
              <%}%>
            </label>
        </div>
    </div>
    </div>
  </div>
  <button type="submit" id='botaoSalva' class="btn btn-success mt-3" style="margin-left: 45%;">
    <%if(languages == "English"){%>
      Save
    <%}else{%>
      Salvar
    <%}%>
  </button>
</form>


<%- include('../partials/footer') %>
