<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/files.css" />


<form action="/informations/newdepartment" method="POST">
  <div class="row" id='masterRow' style="max-width: 99%; margin-left: 1%">
    <div class="row mt-3">
        <div class="col">
            <div class="form-floating">
              <input class="form-control" id="name" name="name">
              <label for="name">
                <%if(languages == "English"){%>
                  Name:
                <%}else{%>
                  Nome:
                <%}%>
              </label>
            </div>
        </div>
    </div>
  </div>
  <button type="submit" id='botaoSalva' class="btn btn-success mt-2" style="margin-left: 45%;">
    <%if(languages == "English"){%>
      Save
    <%}else{%>
      Salvar
    <%}%>
  </button>
</form>
<%- include('../partials/footer') %>
