<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/files.css" />


<form action="/languages/" method="POST">
  <div class="row mt-2" id='masterRow' style="max-width: 99%; margin-left: 1%">
    <div class="row mt-1">
        <div class="col-lg">
            <div class="form-floating">
                <select class="form-select" id="language" aria-label="Floating label" name="language">
                  <%if(languages == "English"){%>
                    <option>English</option>
                    <option>Portuguese</option>
                  <%}%>
                  <%if(languages == "Portuguese"){%>
                    <option value="English">Inglês</option>
                    <option value="Portuguese">Português</option>
                  <%}%>
                </select>
                <label for="language">
                  <%if(languages == "English"){%>
                    Language
                  <%}%>
                  <%if(languages == "Portuguese"){%>
                    Idioma
                  <%}%>
                </label>
            </div>
        </div>
    </div>
  </div>

  <br>
  <button type="submit" id='botaoSalva' class="btn btn-success" style="margin-left: 45%;">
    <%if(languages == "Portuguese"){%>
      Salvar
    <%}%>
    <%if(languages == "English"){%>
      Save
    <%}%>
  </button>
</form>
<%- include('../partials/footer') %>
