<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/files.css" />


<form action="/users/changepassword/<%=user._id%>" method="POST">
  <div class="row" id='masterRow' style="max-width: 99%; margin-left: 1%">
    <h1>User: <%=user.name%></h1>
    <div class="row mt-3">
        <div class="col">
            <div class="form-floating">
                <input type="password" class="form-control" id="oldpassword" placeholder="Old password" name="oldpassword">
                <label for="oldpassword">Old password:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="password" class="form-control" id="newpassword" placeholder="New password" name="newpassword">
                <label for="newpassword">New password:</label>
            </div>
        </div>
    </div>
  </div>

  <br>
  <button type="submit" id='botaoSalva' class="btn btn-success" style="margin-left: 48%;">Save</button>
</form>
<%- include('../partials/footer') %>
