<%- include('../partials/sidebar') %>
<head>
    <link rel="stylesheet" href="css/cardsSectors.css">
</head>

<html>
    <body>
        <div class="container mt-3">
            <h2 class="mb-3">
                <%if(languages == "English"){%>
                    Logistic
                  <%}else{%>
                    Logística
                  <%}%>
            </h2>
            <div class="row">
                    <div class="col-sm-3">
                        <a href="/logistic/products/all">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://icons.veryicon.com/png/o/miscellaneous/test/product-features-1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center;">
                                        <%if(languages == "English"){%>
                                            Products
                                          <%}else{%>
                                            Produtos
                                          <%}%>
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/logistic/carriers/all">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://www.iconpacks.net/icons/1/free-truck-icon-1058-thumb.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center;">
                                        <%if(languages == "English"){%>
                                            Freight Companies
                                          <%}else{%>
                                            Transportadoras
                                          <%}%>
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </body>
</html>